
/*---------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------- INICIO LOGIN -----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

/* define el color de fondo personalizado para la sección izquierda del login*/
.bg-logoLoginEfimi {
    background-color: #07142A;
}



/*---------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------- TERMINA LOGIN ----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.pl-6 {
  padding-left: 1.5rem; /* Ajusta el espaciado según sea necesario */
}







